<!--Property name (should be short) -->
<h3>Long Island @Kilat</h3>
<!--Price here for long term, elsewhere for short term -->
<span>$1,200 (float right)</span>
<p>
  <!--Location (full address or general location for privacy e.g. by district, condo, neighbourhood, nearest mrt) -->
  <span>Beauty World</span> | 
  <!--Commute time to CBD or old town or custom address -->
  <span>20 min to CBD</span> |
  <!--Key ratings, # ratings, ratings of condo / property / host etc -->
  <span>5 stars (100 reviews)</span>
  <br />

  <!--Beds, baths, guests -->
  <span>6 beds 3 baths</span> |
  <!--Host, owner, agent -->
  <span>Hosted by THL</span>
</p>

<p>
photos, floorplan? video? virtual tour? specific rooms? (slideshow? different format?) <br />
</p>

<p>
  <!-- Main selling points, guests fave selling point -->
  Self check in, great locations, free cancellation
</p>

<p>
   <br />
  sharing? shortlist? compare? <br />
  nego? mortgage? rental yield? (float right) <br />
  any flag? (new, recommended, best selling, interest level, etc.)
  price, psf, sqft, TOP? parking?
</p>



<p>
(At a glance?)
Fully furnished, air conditioned room, attached bath, private balcony, just 20 min from CBD (some backgrounds?) <br />
owner?
</p>
<p>
  Property details, type, facilities (float right, collapsed)
Published on 07.10.2019
Double room
Condo
Long term stay
Any gender
Advertised by owner/tenant
Furnished
Internet access
Air conditioning
Cooking allowed
</p>



<p>
  Descriptions: (shortened)
Fully furnished, air conditioned, spacious room with attached bathroom, available 20/10.
As big as master rooms (probably 160sqft), with access to private balcony.
Rent includes 1Gbps internet, utilities bills and weekly cleaning of common areas and toilets
2 minutes to Beauty World MRT, 20 minutes ride to CBD and heart of town.
Plenty of food options, wet market, supermarkets around
Flat is fully equiped with TV, sofa, washer + dryer, kitchenwares, balcony, all available to use, no landlord.
Looking for a single tenant, price negotiable. Whatsapp me at +65 9799 7403 or drop me a note at (please send message through website) to arrange viewing. No agent please.

leasehold, top, developer, maintenance, current tenanted, level, furnishing?
</p>
<p>
  details on room? furnishing? price?
</p>

<p>
contact details (float right), messenger, whatsapp, email, etc. <br />
</p>

<p>
  Location, amenities, vicinity
Property is located at 17 Lorong Kilat in Clementi, West Singapore
Show map, commute time
</p>

<p>FAQ</p>
<p>Host info</p>
<p>
  about project / condo / development
</p>
<p>
  pricing insights, transaction history, mortgage, rental yield
</p>
<p>
  House rules, policies, fine prints
</p>

<p>
  report this listing? bread crumps and other links?
</p>
<p> similar listings </p>

