<p>
  Property name (should be short) <br />
  Location: (general location? for privacy?) 17 Lorong KilatClementi, West Singapore <br />
  review? # of reviews? review of property / condo? <br />
  sharing? shortlist? <br />
  prices? (float right) <br />

</p>

<p>
photos, floorplan? video? virtual tour? specific rooms? (slideshow? different format?) <br />
</p>

<p>
(At a glance?)
Fully furnished, air conditioned room, attached bath, private balcony, just 20 min from CBD (some backgrounds?) <br />
owner?
</p>
<p>
  Property details, type, facilities (float right, collapsed)
Published on 07.10.2019
Double room
Condo
Long term stay
Any gender
Advertised by owner/tenant
Furnished
Internet access
Air conditioning
Cooking allowed
</p>



<p>
  Descriptions: (shortened)
Fully furnished, air conditioned, spacious room with attached bathroom, available 20/10.
As big as master rooms (probably 160sqft), with access to private balcony.
Rent includes 1Gbps internet, utilities bills and weekly cleaning of common areas and toilets
2 minutes to Beauty World MRT, 20 minutes ride to CBD and heart of town.
Plenty of food options, wet market, supermarkets around
Flat is fully equiped with TV, sofa, washer + dryer, kitchenwares, balcony, all available to use, no landlord.
Looking for a single tenant, price negotiable. Whatsapp me at +65 9799 7403 or drop me a note at (please send message through website) to arrange viewing. No agent please.
</p>
<p>
  details on room? furnishing? price?
</p>

<p>
contact details (float right) <br />
</p>

<p>
  Location, amenities, vicinity
Property is located at 17 Lorong Kilat in Clementi, West Singapore
Show map
</p>

<p>
  report this listing? bread crumps and other links?
</p>

